#block-next_bus-1 table tr:First-Child td:First-Child{
	background: none;
	border: none;
	padding: 0px;	
}
#block-next_bus-1 table tr td:First-Child {
	background: none repeat scroll 0 0 #EEEEEE;
	border: 8px solid #0076B8;
	margin-bottom: 0;
	padding: 8px;	
}
#block-next_bus-1 table tr td:nth-child(2n+2){
    font-size: 140%;
    font-weight: bold;
	background: none;
}
#block-next_bus-1 table tr td:nth-child(2n+3){
	font-size: 100%;
	font-weight: normal;
	background: none;
}
#block-next_bus-1 table tr td:nth-child(2n+4){
	font-size: 100%;
	font-weight: normal;
	color: gray;
	background: none;
}